Hello

<input type="file" (change)="fileUp($event)">

<button (click)="parseXML()">Retry</button>
<div class="container" *ngIf="showDynForm">
  Form:
  <form [formGroup]="createEntityForm" name="createEntityForm" (ngSubmit)="onSubmit()">
    <div style="margin-left: 10px;"><span style="background-color: skyblue;"> Driver Settings</span>
      <dynamic-form [config]="driverOptionsFormConfig" [parentForm]="createEntityForm"></dynamic-form>
    </div>
    <div style="margin-left: 10px;"> <span style="background-color: skyblue;"> Subsciber
        Settings </span>
      <dynamic-form [config]="subscriberOptionsFormConfig" [parentForm]="createEntityForm"></dynamic-form>
    </div>
    <div style="margin-left: 10px;">
      <span style="background-color: skyblue;"> Publisher Settings</span>
      <dynamic-form [config]="publisherOptionsFormConfig" [parentForm]="createEntityForm"></dynamic-form>

    </div>
    <button type="submit">Submit</button>
  </form>
</div>