<div class="spacer-out-h-base" id="childFeedBack" >
<div class="alert spacer-out-top-md ng-scope" [ngClass]="messageType?'alert-success':'alert-danger'">
	<button type="button" class="close" aria-label="Close" (click)="close()"></button>
	<ng-template [ngIf]="treeNotification">
		<div *ngIf="displayMessage.hasOwnProperty('succeeded') && displayMessage.succeeded.length >= 0">
				<div  id="childSucessAccordion">
					<h4 class="panel-title">
						<div class="alert-heading spacer-out-bottom-sm">
							<a data-toggle="collapse" data-parent="#childSucessAccordion" class="accordion-toggle collapsed " href="#sucess">
								 <span translate>Success</span>({{displayMessage.succeeded.length}})
							</a>
						</div>
					</h4>
					<div id="sucess" class="panel-collapse collapse">
						<div  class="panel-body">
							<ng-container *ngFor="let succeeded of displayMessage?.succeeded let i=index">
								<div id="childchildsucess">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#childchildsucess"  class="accordion-toggle collapsed" href="#childcollapse_s{{i}}">{{(succeeded.name||succeeded.id)|CNFromDN}}</a>
									</h4>
									<div id="childcollapse_s{{i}}" class="panel-collapse collapse">
										<div class="panel-body">
											{{succeeded.id|CNFromDN}}
										</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>

				</div>
		</div>
		<div *ngIf="displayMessage.hasOwnProperty('failed') && displayMessage.failed.length >= 0">
			<div  id="childfailedAccordion">
					<h4 class="panel-title">
						<div class="alert-heading spacer-out-bottom-sm">
							<a data-toggle="collapse" data-parent="#failedAccordion" class="accordion-toggle collapsed" href="#failed">
								<i class=" feedback-expand"></i> <span translate>Failed</span>({{displayMessage.failed.length}})
							</a>
						</div>
					</h4>
					<div id="failed" class="panel-collapse collapse">
						<div  class="panel-body">
							<ng-container *ngFor="let failed of displayMessage?.failed let i=index">
								<div id="childFailed">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#childFailed"   class="accordion-toggle collapsed " href="#childcollapse_f{{i}}">{{(failed.name||failed.id)|CNFromDN}}</a>
									</h4>
									<div id="childcollapse_f{{i}}" class="panel-collapse collapse">
										<div class="panel-body">
											{{(failed.reason || failed.id)|CNFromDN}}
										</div>
									</div>
								</div>
							</ng-container>
						</div>
					</div>

				</div>
		</div>
		<div *ngIf="displayMessage.hasOwnProperty('sods') && displayMessage.sods.length >= 0">
			<div id="sodsAccordion">
				<h4 class="panel-title">
					<div class="alert-heading spacer-out-bottom-sm">
						<a data-toggle="collapse" data-parent="#sodsAccordion" class="accordion-toggle collapsed" href="#sods">
								<i class="feedback-expand"></i> <span translate>SODs</span>({{displayMessage.sods.length}})
							</a>
					</div>
				</h4>
				<div id="sods" class="panel-collapse collapse">
					<div class="panel-body">
						<ng-container *ngFor="let sod of displayMessage?.sods let i=index">
							<div id="childsods">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#childsods" class="accordion-toggle collapsed " href="#childcollapse_sod{{i}}">{{sod.sodName}}</a>
								</h4>
								<div id="childcollapse_sod{{i}}" class="panel-collapse collapse">
									<div class="panel-body">
										<i><span translate>Conflicting Roles :</span></i> <b>{{sod.perm1Name}}</b> <span translate>and</span> <b>{{sod.perm2Name}}</b>
									</div>
								</div>
							</div>
						</ng-container>
					</div>
				</div>

			</div>
		</div>
	</ng-template>
	<ng-template [ngIf]="!treeNotification">
		{{displayMessage}}
	</ng-template>
</div>
</div>
