.btn.btn-file{
    position: relative;
    overflow: hidden;
}

 .btn.btn-file > input[type='file'] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    filter: alpha(opacity=0);
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

 .action-but {
    /* display: inline-block; */
    color: #434c50;
    background: #f6f9f8;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #dae1e1;
    border-radius: 3px;
    min-width: 40px;
}
