<div *ngIf="_uiData">
  <div *ngIf="!showComplexData">
    <div *ngIf="!imageType && !dateType">
      <ng-template [ngIf]="!isClickable">
        <div class="height-ellipsis">{{displayData}}</div>
      </ng-template>
      <ng-template [ngIf]="isClickable">
        <ng-template [ngIf]="isColumnValueClickable(_uiData)">
          <a href="javascript:void(0);" class="cursor-pointer ng-binding height-ellipsis" (click)="simpleClickHandler()">
            <ng-template [ngIf]="_uiData?.type=='user'">
              <i class="icon icon-size-xs icon-user"></i>
            </ng-template>
            <ng-template [ngIf]="_uiData?.type=='group'">
              <i class="icon icon-size-xs icon-group"></i>
            </ng-template>
            <ng-template [ngIf]="_uiData?.type=='container'">
              <i class="icon icon-size-xs icon-container"></i>
            </ng-template>
            <ng-template [ngIf]="_uiData?.type=='role'">
              <i class="icon icon-size-xs icon-role"></i>
            </ng-template>
            {{displayData}}
          </a>
        </ng-template>
        <ng-template [ngIf]="!isColumnValueClickable(_uiData)">
          <ng-template [ngIf]="_uiData?.type=='relationship'">
            [{{displayData}}]
          </ng-template>
          <ng-template [ngIf]="!_uiData?.type=='relationship'">
            {{displayData}}
          </ng-template>
        </ng-template>
      </ng-template>
    </div>
    <div *ngIf="imageType">
      <img class="tableImageWidth" [src]="displayData">
    </div>
    <div *ngIf="dateType">
      {{displayData}}
    </div>
  </div>

  <div *ngIf="showComplexData">
    <ng-template [ngIf]="!isClickable">
      <div class="height-ellipsis">
        <ng-container *ngFor="let element of _uiData; let rowNum =index">
          <span class="a-coma"> {{this.displayComplexData[rowNum]}}</span>
          <br/>
        </ng-container>
      </div>
    </ng-template>
    <ng-template [ngIf]="isClickable">
      <ng-template [ngIf]="_uiData.length<=3">
        <ng-container *ngFor="let element of _uiData; let rowNum =index">
          <ng-template [ngIf]="isColumnValueClickable(element)">
            <a href="javascript:void(0);" class="cursor-pointer a-coma " (click)="complexClickHandler(element)">
              <ng-template [ngIf]="element.type=='user'">
                <i class="icon icon-size-xs icon-user"></i>
              </ng-template>
              <ng-template [ngIf]="element.type=='group'">
                <i class="icon icon-size-xs icon-group"></i>
              </ng-template>
              <ng-template [ngIf]="element.type=='container'">
                <i class="icon icon-size-xs icon-container"></i>
              </ng-template>
              <ng-template [ngIf]="element.type=='role'">
                <i class="icon icon-size-xs icon-role"></i>
              </ng-template>
              {{this.displayComplexData[rowNum]}}
            </a>&nbsp;
          </ng-template>
          <ng-template [ngIf]="!isColumnValueClickable(element)">
            <ng-template [ngIf]="element.type=='user'">
              <i class="icon icon-size-xs icon-user"></i>
            </ng-template>
            <ng-template [ngIf]="element.type=='group'">
              <i class="icon icon-size-xs icon-group"></i>
            </ng-template>
            <ng-template [ngIf]="element.type=='container'">
              <i class="icon icon-size-xs icon-container"></i>
            </ng-template>
            <ng-template [ngIf]="element.type=='role'">
              <i class="icon icon-size-xs icon-role"></i>
            </ng-template>
            {{this.displayComplexData[rowNum]}}
            &nbsp;
          </ng-template>
        </ng-container>
      </ng-template>
      <ng-template [ngIf]="_uiData.length>3">
        <ng-container *ngFor="let element of _uiData; let rowNum =index">
          <ng-template [ngIf]="rowNum <2 ">
            <ng-template [ngIf]="isColumnValueClickable(element)">
              <a href="javascript:void(0);" class="cursor-pointer a-coma" (click)="complexClickHandler(element)">
                <ng-template [ngIf]="element?.type=='user'">
                  <i class="icon icon-size-xs icon-user"></i>
                </ng-template>
                <ng-template [ngIf]="element?.type=='group'">
                  <i class="icon icon-size-xs icon-group"></i>
                </ng-template>
                <ng-template [ngIf]="element?.type=='container'">
                  <i class="icon icon-size-xs icon-container"></i>
                </ng-template>
                <ng-template [ngIf]="element?.type=='role'">
                  <i class="icon icon-size-xs icon-role"></i>
                </ng-template>
                {{this.displayComplexData[rowNum]}}
              </a>
            </ng-template>
            <ng-template [ngIf]="!isColumnValueClickable(element)">
              <ng-template [ngIf]="element?.type=='user'">
                <i class="icon icon-size-xs icon-user"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='group'">
                <i class="icon icon-size-xs icon-group"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='container'">
                <i class="icon icon-size-xs icon-container"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='role'">
                <i class="icon icon-size-xs icon-role"></i>
              </ng-template>
              {{this.displayComplexData[rowNum]}}
            </ng-template>
          </ng-template>
        </ng-container>
        <span class="cursor-pointer " role="button" data-toggle="modal" [attr.data-target]="'#'+'viewData_'+rowNumber"
          (click)="changeModalData(_uiData)"> ...</span>
      </ng-template>
    </ng-template>
  </div>

  <div class="modal modal-size-md modal-height-lg" id="viewData_{{rowNumber}}" *ngIf="refreshModelData">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
          <h4 class="modal-title" id="myModalLabel" translate=""><span class="ng-scope">{{columnHeader}}</span></h4>
        </div>
        <div class="modal-body container">
          <ng-container *ngFor="let element of modalData; let rowNum =index">
            <div class="list" (click)="complexClickHandler(element)">
              <ng-template [ngIf]="element?.type=='user'">
                <i class="icon icon-size-xs icon-user"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='group'">
                <i class="icon icon-size-xs icon-group"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='container'">
                <i class="icon icon-size-xs icon-container"></i>
              </ng-template>
              <ng-template [ngIf]="element?.type=='role'">
                <i class="icon icon-size-xs icon-role"></i>
              </ng-template>
              <a class="cursor-pointer ng-binding a-coma text-nowrap">{{this.displayComplexData[rowNum]}}</a>&nbsp;
            </div>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>
