<div class="row" [hidden]="config.hide">
  <div class="col-sm-6">
      <div class="form-group" [ngClass]="{'has-error' : group.controls[config.key].errors && (group.controls[config.key].dirty || group.controls[config.key].touched), 'has-success':!group.controls[config.key].errors && !group.controls[config.key].pristine}">
          <label>{{ config.displayLabel }}<span *ngIf="config.isRequired == 'true'">*</span></label>
          <label>{{ config.staticValue }}</label>
      </div>
  </div>
</div>